.about {
    padding: 5.6vw;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
        img {
            max-width: 400px;
        }
    }

    // Imagem da primeira linha
    article:nth-child(2) {
        img {
            max-width: 450px;
        }
    }
    // Conteúdo da segunda linha
    article:nth-child(3) {
        align-items: start;
        text-align: right;
    }

    .artist-name {
        font-size: 1rem;
        font-weight: 200;
    }
}

