@use 'variables';

.cast {
    padding: 5.6vw;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }
        
        &__item {
            display: flex;
            align-items: center;
            gap: 12px;
            z-index: 1;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 100%;
                width: 250px;
                height: 250px;
                transition: all .5s ease;
                &:hover {
                    transform: scale(1.2);
                    border: 3px solid variables.$secondaryBackground;
                }
                @media (max-width: 768px) {
                    width: 45vw;
                    height: 45vw;
                }
            }

            &__info {
                background-color: variables.$secondaryBackground;
                border-radius: 26px;
                width: 250px;
                padding: 16px;
                text-align: center;
                p {
                    font-size: 20px;
                }
                & :nth-child(2) {
                    border-top: 2px ridge #fff;                    
                    color: #ccc;
                    font-size: 16px;
                    margin-top: 5px;
                    padding-top: 5px;
                }

                @media (max-width: 768px) {
                    width: 40vw;
                    p {
                        font-size: 1rem;
                        line-height: normal;
                    }
                    & :nth-child(2) {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}