@use 'variables';

.characters {
    padding: 5.6vw;

    article:nth-child(1) {
        text-align: right;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 4rem 0;

        &--narrator {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .7rem;
            text-align: center;
            white-space: nowrap;
            img {
                max-width: 245px;
                width: 100%;
            }
        }

        &--tyler {
            max-width: 400px;
            width: 100%;
        }

        &--marla {
            max-width: 500px;
            width: 100%;
        }
    }
    
}