.fight-club {
    padding: 5.6vw;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    //Primeira imagem - Tyler
    & :nth-child(2) {
        span {
            margin-right: .5rem;
            font-size: 1.7rem;
        }
        img {
            width: 500px;
            height: 450px;
            object-fit: cover;
        }
    }

    //Segunda imagem - Narrador
    & :nth-child(3) {
        align-items: start;
        text-align: right;
        img {
            max-width: 400px;
            width: 100%;
        }
    }
}