.fight-club {
    padding: 5.6vw;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {
            margin: 12px 24px;

            span {
                margin-right: 8px;
                font-size: 20px;
            }
        }
    }
}