.hero {
    padding: 5.6vw;
    width: 100vw;
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;

    &__logo {
        position: absolute;
        right: 20%;
        top: 5%;
        z-index: 1;

        img {
            max-width: 800px;
            width: 100%;
            opacity: 85%;

            &:hover {
                cursor: pointer;
                opacity: 100%;
            }
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;

        img {
            max-width: 600px;
            width: 100%;
        }
    }
}