.intro {
    padding: 5.6vw;
    text-align: center;
    position: sticky;
    z-index: 1;
    margin-bottom: 0;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    .title {
        padding: 5.6vw;
        margin-bottom: 24px;
        font-size: 64px;
        &--is-pink {
            font-size: 72px;
        }
    }

    .text--big {
        margin-bottom: 24px;
    }

}