@use 'variables';

.warning {
    padding: 5.6vw;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        padding: 26px;
        margin-bottom: 24px
    }

    h3 {
        max-width: 700px;
        text-align: right;
        margin-left: 100px;
    }

    img {
        max-width: 300px;
        width: 100%;
    }

    .index {
        position: fixed;
        top: 15%;
        left: 5%;
        padding: 26px;
        border-radius: 5px;
        background-color: variables.$secondaryBackground;
        opacity: .9;
        transition: all .5s ease;
        
        &--is-hiden {
            opacity: .1;
        }
    
        .drop-nav {
            button {
                background-image: url(../../dist/images/sabonete.png);
                width: 40px;
                height: 40px;
                border: none;
                background-color: transparent;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-left: .5rem;
                filter: brightness(85%);
                cursor: pointer;
                &:hover {
                    filter: brightness(100%);
                }
            }
    
            &__item {
                a {
                    margin-left: 1rem;
                    line-height: 0;
                }
            }
    
            ul {
                height: 0;
                overflow: hidden;
            }
    
            &--is-open {
                button {
                transform: rotate(20deg);
                transition: rotate .5s ease;
                }
                ul {
                    height: auto;
                }
            }
        }
    
        a {
            font-family: 'Core sans';
            text-transform: capitalize;
            letter-spacing: .5px;
            word-spacing: -1px;
            cursor: pointer;
            text-decoration: none;
            line-height: 2rem;
            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
        &:hover {
            opacity: .9;
        }
    }
}