@use 'variables';
@use 'hero';
@use 'intro';
@use 'about';
@use 'fight-club';
@use 'characters';

@font-face {
    font-family: Lora;
    src: url(../../assets/fonts//Lora-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Staatliches;
    src: url(../../assets/fonts/Staatliches-Regular.ttf);
    font-weight: 700;
}

* {
    font-family: Lora;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: variables.$primaryTextColor;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$backgroundColor;
}

p {
    margin-bottom: 8px;
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$primaryTextColor;
}

@mixin title($fontSize: 48px) {
    @include text($fontSize);
    font-family: Staatliches;
    font-style: italic;

    &--is-pink {
        font-family: Staatliches;
        font-style: italic;
        color: #fcb0db;
        text-shadow: 3px 1px 1px #cb2b63;
    }
}

.text {
    @include text;

    &--is-pink {
        font-family: Staatliches;
        font-style: italic;
        color: #fcb0db;
        text-shadow: 3px 1px 1px #cb2b63;
    }
}

.text--small {
    @include text(12px);
}

.text--big {
    @include text(24px);
}

.title {
    @include title;
    text-align: center;
    margin-bottom: 24px;
}

.title--small {
    @include title(32px);
}

.title--big {
    @include title(56px);
}

