@use 'variables';
@use 'hero';
@use 'intro';
@use 'warning';
@use 'about';
@use 'fight-club';
@use 'characters';
@use 'review';
@use 'quotes';
@use 'cast';

@font-face {
    font-family: Lora;
    src: url(../../assets/fonts//Lora-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Staatliches;
    src: url(../../assets/fonts/Staatliches-Regular.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Core Sans';
    src: url(../../assets/fonts/Core\ Sans\ NR\ W01\ SC\ 45\ Regular.ttf);
    font-weight: 400;
}

* {
    font-family: Lora;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: variables.$primaryTextColor;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$primaryBackground;
}

section {
    background-color: variables.$primaryBackground;
    margin-bottom: 4.5rem;
}

article {
    margin: .5rem 0;
    p.text {
        margin-bottom: .5rem;
    }
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$primaryTextColor;
}

@mixin title($fontSize: 48px) {
    @include text($fontSize);
    font-family: Staatliches;
    font-style: italic;

    &--is-pink {
        font-family: Staatliches;
        font-style: italic;
        color: variables.$secondaryTextColor;
        text-shadow: 3px 1px 1px variables.$secondaryTextColorShadow;
    }
}

.text {
    @include text;

    &--is-pink {
        font-family: Staatliches;
        font-style: italic;
        color: variables.$secondaryTextColor;
        text-shadow: 3px 1px 1px variables.$secondaryTextColorShadow;
    }
}

.text--small {
    @include text(12px);
}

.text--big {
    @include text(24px);
}

.title {
    @include title;
    text-align: center;
    margin-bottom: 3rem;
}

.title--small {
    @include title(32px);
}

